# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de desarrollo de PyCharm
.idea/

# Archivos de desarrollo de VSCode
.vscode/

# Archivos de logs
*.log

# Archivos de configuración local
.env

# Otros archivos innecesarios
*.sqlite3

*.ipynb